

.header{
    display: flex;
    justify-content: space-between;

    margin-top: 5vh;

    .header-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-left {
        display: flex;
        

        .header-nav {
            display: flex;
            justify-content: space-evenly;

            .header-nav-item {
                margin-left: 2vw;


            }

        }
    }


    .header-right {
        display: flex;

        .header-search {
            width: 10vw;
            margin: 5% 1vw;

            .header-search-input {
                border: 1px solid;
                border-radius: 45px;

                width: 90%;
            }

            .header-search-pannel {
                display: none;
                position: relative;

                 .header-search-list { 
                    
                    position: absolute;
                    top: 10px;

                    padding: 1vh 1vh;

                    color: $color-light-4;
                    background-color: $color-shadow-1;


                    min-width: 10vw;



                    border-radius: 5px;
                    box-shadow: 10px 10px 5px $color-shadow-4 ; /*Blur height-offset width-offset color*/


                    .header-search-item {
                        margin-top: 1vh;
                    }
            }
            }

        }
    }
}