  
  <header class="header">
    <!-- Left Area-->
    <div class=" header-left">

      <div class="header-logo">
          <a href="{{site.BaseURL}}">摸鱼天尊</a>
      </div>

      <nav>
        <ul class="header-nav">

          {{ range site.Menus.main }}
           <li class="header-nav-item">
            <a href="{{.URL}}">
              {{.Name}}
            </a>
          </li>           
          {{ end }}

          {{/*  <li class="item">
            <a href="https://www.bitbug.net/">
              网址导航
              <span class="desc">Navigation</span>
            </a>
          </li>  */}}
        </ul>
        
      </nav>
    </div>
    <!-- End Of Left Area-->


    <!-- Right Area-->
    <div class=" header-right">
      <div class="header-search" >
         <input  class="header-search-input"  id="header-search-input" placeholder="Seache..." />
         <div class="header-search-pannel" id="header-search-pannel">
            <ul class="header-search-list">
               <li class="header-search-item">QS Game</li> 
               <li class="header-search-item">QS Game</li> 
               <li class="header-search-item">QS Game</li> 
               <li class="header-search-item">QS Game</li> 
               <li class="header-search-item">QS Game</li> 
               <li class="header-search-item">QS Game</li> 
            </ul>
         </div>
      </div>

      <div class="header-info">
        <a href="#">摸鱼天尊</a>
        <p>程序设计师，独立动画师</p>
      </div>
    </div> 
    <!--End Of Right Area-->
  </header>

