  
  <div class="header">
    <div class="area">
      <div class="left-area">
        
        <h1 class="logo">
          <a href="{{site.BaseURL}}">摸鱼天尊</a>
        </h1>

        <ul class="nav-list">

          {{ range site.Menus.main }}
           <li class="item">
            <a href="{{.URL}}">
              {{.Name}}
              <span class="desc">{{ .Identifier }}</span>
            </a>
          </li>           
          {{ end }}

          <li class="item">
            <a href="#">
              网页游戏
              <span class="desc">Games</span>
            </a>
          </li>
          <li class="item">
            <a href="https://www.bitbug.net/">
              网址导航
              <span class="desc">Navigation</span>
            </a>
          </li>
        </ul>
        
        <div class="search">
          <a href="#"></a>
        </div>
      </div>

      <div class="right-area">
        <a class="image" target="_blank"
           href="https://github.com/LYT0628">
          <img width="32" height="32" src="/github32x32.ico" alt="github homepage">
        </a>
        <a class="image" target="_blank"
           href="https://bilibilib.com/">
          <img width="32" height="32" src="/bilibili32x32.ico" alt="bilibili homepage">
        </a>
        <div class="info">
          <a href="#">摸鱼天尊</a>
          <p>程序设计师，独立动画师</p>
        </div>
      </div>

    </div>
    <hr/>
  </div>

