<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  {{ if $.Title }}
    <title>{{$.Title}}</title> 
  {{ end }}



{{/*  CDN  */}}
{{/*  JQuery  */}}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
{{/*  bootstrap  */}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{{/*  css  */}}
{{ $css := partialCached "index.css.html" $ "nothing" }} 
<link rel="stylesheet" type="text/css" href="{{$css}}">
</head>

<body class="body">
{{/*  头部导航栏  */}}
{{ block "header" . }}
  {{ partial "header.html" . }}
{{ end }}
{{/*  主体， 默认是post的内容  */}}
{{ block "body" . }}
  <main>
    {{with .Title}}
      <h1>
        {{.}}
      </h1>
    {{end}}
    <div class="content">
      {{.Content}}
    </div>
{{ end }}

{{/*  页脚，包括 sitemap和copyright  */}}
{{ block "footer.html" . }}
 {{ partial "footer" . }} 
{{ end }}
</body>
</html>