<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
      dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/mona.ico" type="image/x-icon">

  <title>{{ block "title" . }}
    {{ .Site.Title }}
  {{ end }}</title>



  {{block  "style" . }}
    {{ partial "util/scss.html" "style/main.scss" }}
  {{end}}

    {{/*  Block for page to add extra style  */}}
    {{block "custom-style" . }}
    {{end}}
</head>
<body >
  {{ block "body" . }}
    {{ partial "header.html" . }}

    <hr id="header-hr"/>

    <main id="content">
      {{block "content" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
  {{ end }}


  {{block "script" .}}
    {{ partial "util/js.html" "js/main.js" }}
  {{end}}

<body>
  

