

{{/*  菜单  */}}
{{with site.Menus.main }}
<section id="header">
  <ul id="menu">
    {{/*  logo link  */}}
    <a href="{{ site.BaseURL | absLangURL }}">
      <img src="./image/logo.svg" alt="Acme Logo" 
          height="60" width="60" 
      />
    {{site.Title}}
    </a>
    {{/*  menu  */}}
    {{ range . }} 
    <li class="menu-item" > 
      <a href="{{.URL}}">{{.Name}} </a>
      {{/*  sub-menu  */}}
      {{ if .HasChildren }}
        <ul>
          {{ range .Children }}
          <li class="sub-menu">
            <a href="{{.URL}}">{{.Name}}</a>
          </li>    
          {{ end }}
        </ul>
      {{ end }}
    </li>
  {{ else }}{{end}} 
 </ul>
</section>
{{end}} {{/*  with  */}}
