<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  {{ if $.Title }}
    <title>{{$.Title}}</title> 
  {{ end }}
  
</head>

<body style="background-color: azure;">
  {{ partial "header.html" . }}
  <div>aaa1</div>
  <div>aaa2</div>
  <div>aaa3</div>
  <div>aaa4</div>
  <div>aaa5</div>
  <div>aaa6</div>
  <div>aaa7</div>
  <div>aaa8</div>
  <div>aaa9</div>
  <div>aaa10</div>
  <div>aaa11</div>
  <div>aaa12</div>
  <div>aaa13</div>
  <div>aaa14</div>
  <div>aaa15</div>
  <div>aaa16</div>
  <div>aaa17</div>
  <div>aaa18</div>
  <div>aaa19</div>
  <div>aaa20</div>
  <div>aaa21</div>
  <div>aaa22</div>
  <div>aaa23</div>
  <div>aaa24</div>
  <div>aaa25</div>
  <div>aaa26</div>
  <div>aaa27</div>
  <div>aaa28</div>
  <div>aaa29</div>
  <div>aaa30</div>
  <div>aaa31</div>
  <div>aaa32</div>
  <div>aaa33</div>
  <div>aaa34</div>
  <div>aaa35</div>
  <div>aaa36</div>
  <div>aaa37</div>
  <div>aaa38</div>
  <div>aaa39</div>
  <div>aaa40</div>
  <div>aaa41</div>
  <div>aaa42</div>
  <div>aaa43</div>
  <div>aaa44</div>
  <div>aaa45</div>
  <div>aaa46</div>
  <div>aaa47</div>
  <div>aaa48</div>
  <div>aaa49</div>
  <div>aaa50</div>
  {{ partial "footer.html" . }}
  {{/*  {{- partial "var.html" -}}  */}}
</body>
</html>