
///////////////////
// Color Pallete //
///////////////////

// Black is represent a dark life style. We escape from Light for do something
// great secretly.

$color-shadow-1 : #666666FF;
$color-shadow-2 : #444444FF;
$color-shadow-3 : #333333FF;
$color-shadow-4 : #222222FF;
$color-shadow-5 : #111111FF;
$color-shadow : $color-shadow-3;


// Red is a blood fate that we have to fight with evil.
$color-blood: #FF0000FF;


// Yellow is the aword of our soul
$color-soul: #FFFF00FF;
 
//light  is the feature we are longing

$color-light-1: #888888FF;
$color-light-2: #AAAAAAFF;
$color-light-3: #BBBBBBFF;
$color-light-4: #CCCCCCFF;
$color-light-5: #DDDDDDFF;
$color-light: $color-light-3;


// Our heart is pure like blue sky
$color-pure: #0000FFFF;
 


